
/* ==========================================================================
   Newsletter Subscription
   ========================================================================== */

   #subscribe {
     position:fixed;
     bottom:30px;
     right:30px;
     width:220px;
     z-index: 9999;
     display: none;
     background: none;
     -webkit-box-shadow: 1px 1px 5px 0px rgba(29,45,68,0.2);
     -moz-box-shadow: 1px 1px 5px 0px rgba(29,45,68,0.2);
     box-shadow: 1px 1px 5px 0px rgba(29,45,68,0.2);

     @media (max-width: 991px) {
       display: none !important;
     }

     h3 {
       display: block;
       background: #e8e8e8;
       margin:0;
       padding:10px 0;
       font-size: 13px;
       border-radius: 5px 5px 0 0;
     }

     .close {
       position: absolute;
       top:4px;
       right:7px;
       font-size: 20px;
     }

     .subscribe.content {
       background: white;
       border-radius: 0 0 5px 5px;
       padding:10px;

       p {
         font-size: 11px;
         line-height: 16px;
         margin:5px 0;
       }

       .btn {
         display: block;
         padding:8px 0;
         margin-top: 15px;
       }
     }
   }
