.provider {

 margin-bottom:rem-calc(50);

 a {
  display:block;
  border:rem-calc(1) solid $gray-lighter;
  border-radius:rem-calc(10);
  overflow:hidden;
  max-width:rem-calc(290); //Until we have better logos
  color:inherit;
  height: 100%;
  transition:all .5s;

  &:hover {
   text-decoration:none;
   box-shadow: 0 0 rem-calc(20) 0 rgba($brand-primary,.3);
  }

 }

 img {
  max-width:100%;
  height:auto;
  border-bottom:rem-calc(1) solid $gray-lighter;
 }

 .flag-icon {
  margin-right:rem-calc(5);
 }

 .provider-meta {
  border-bottom:rem-calc(1) solid $gray-lighter;
  padding:.25rem 1.25rem;
  background:$gray-lightest;
 }

 .card-block {
  padding:1rem 1.25rem;
  font-size:rem-calc(14);
 }

 .card-title {
  margin-bottom:.5rem;
 }

 .free-plans i {
  color:$brand-primary;
 }

}
