.security_advisories {

    ul {
      list-style:none;
      padding:0;
      margin-top:rem-calc(5);
      margin-bottom:rem-calc(30);

      li {
        padding-bottom:rem-calc(3);
        padding-left:rem-calc(15);

        &:before {
          content:'\00BB \0020';
          position:absolute;
          margin-left:rem-calc(-15);
        }
      }
    }

    h4.tag {
      font-size:0.9rem;
    }

    h2 {
      margin-bottom: 2.5rem;
    }

    .col-md-4 {
      @include media-breakpoint-down(sm) {
        margin-bottom:rem-calc(30);
      }
    }

}
