.tp_recent_tweets,
.sidebar .tp_recent_tweets {

 ul {
  padding-left:0;
  margin-bottom:0;

  li:last-child {
   padding-bottom:0;
  }

  span {

   font-size:rem-calc(14);

   a {
    font-weight:500;
   }

  }

 }

}
