// Equal Heights

@media (min-width: 992px) {
  .row-eq-height {
    /* Equal heights for description and download area*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

// Thumbnails
.thumbnail {
 padding: 0;
 border:none;
 -webkit-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
 display: inline-block;
 max-width: 100%;
 height: auto;
 display: block;
 margin-bottom: 20px;

 img {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: rem-calc(5);
  padding: 4px;
  max-width:100%;
 }
}


.hover {
 transition:all .5s;

 &:hover {
  box-shadow:0 0 rem-calc(10) 0 rgba($gray-lighter,.9);
 }

}


// Return to top button
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba($owncloud-blue, 0.8);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba($owncloud-blue, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
