.install {
  .navbar li.highlight a {
    background: none;
    border-color: rgba($white,.5);
  }

  .col-lg-4 {
   @include media-breakpoint-down(md) {
    margin-bottom:rem-calc(50)
   }
  }

  .box {
    height: 100%;

    @include media-breakpoint-only(lg) {
     .btn-group {
      .btn {
       padding:.25rem .5rem
      }
      }
    }
  }

  .page-header {
    padding-bottom: rem-calc(30);
  }

  .modal {
    font-size: rem-calc(14);
    text-align: center;

    .btn {
      padding: rem-calc(25);
      width: 100%;
      white-space: inherit;

      &.inline {
       width:auto;
       display:inline-block;
       float:left;
       padding:rem-calc(8) rem-calc(15);
       margin-bottom:rem-calc(5);
       margin-right:rem-calc(5);
      }
    }

    .btn-group .btn {
    width:inherit;
     padding:rem-calc(8) rem-calc(15);
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
/* ==========================================================================
   Download Editions
   ========================================================================== */
.branch {
  .col-offset-1.col-xs-10 {
    padding: 35px 0 70px;
  }

  h2 {
    font-size: rem-calc(24);
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top:rem-calc(50);
  }

  .community {
    padding-left: 0;
    padding-right: 5px;
  }

  .enterprise {
    padding-right: 0;
    padding-left: 5px;
  }

  .community,
  .enterprise {
    p {
      letter-spacing: -0.25px;
      font-size: 13px;
    }

    strong {
      font-size: 16px;
      display: inline-block;
      line-height: 22px;
      margin-bottom: 10px;
      @media (min-width: 767px) and (max-width: 1199px) {
        min-height: 45px;
      }
      @media (min-width: 1200px) {
        min-height: 25px;
      }
    }

    span {
      display: inline-block;
      @media (min-width: 767px) and (max-width: 991px) {
        min-height: 70px;
      }
      @media (min-width: 992px) {
        min-height: 50px;
      }
    }
  }

  .button-area {
    text-align: center;
    padding: 40px;
    @media (max-width: 767px) {
      margin-top: 10px;
    }

    .button {
      margin-top: 25px;
    }
  }

  .col-sm-6 {
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}
/* ==========================================================================
   Download Modal
   ========================================================================== */

body.install .instructions {

  .modal-header {
    border: none;
    padding-bottom:0;
  }

  .modal-body {
   padding-top:0;
  }

  .tab-content {
   padding-top:rem-calc(30);
  }

  .description {
    @media (min-width: 991px) {
      padding-bottom: 35px;
      padding-right: 30px;
    }
  }

  p.installatlation-instructions {
    margin: 30px 0 15px;
  }

  .button-area hr {
    border-top: 1px solid #e5e5e5;
    margin: 40px 0;
  }

  .download-notes p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 15px;

    :last-child {
      margin-bottom: 0;
    }
  }

}

.install-steps {
  counter-reset: install-counter;
  padding: 0;
  list-style: none;
  margin: 15px 0;

  li {
    margin: 7px 0;
    padding-left: 32px;
    position: relative;
  }

  li:before {
    content: counter(install-counter);
    counter-increment: install-counter;
    position: absolute;
    left: 0;
    top: 0;
    background: #428bca;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    height: 22px;
    width: 22px;
    border: 1px solid #4575d2;
    border-radius: 20px;
    color: #fff;
    text-shadow: 0 0 5px rgba(69, 117, 210, 1);
  }
}

.button-area {
  background: #f5f9fa;
  border: 1px solid #f2f2f2;
  border-radius: 3px;
  padding: 20px 35px 35px;
  @media (max-width: 767px) {
    margin-top: 30px;
  }
}

.changelog {
  display: block;
  margin-bottom: 20px;
}

#tab-mobile {
 img {
  margin:rem-calc(5);
  margin-left:0;
 }
}

/*vm list*/
.vmlist {
  padding-top: 10px;
}

.vmlist .col-xs-3 {
  padding-left: 0;
  padding-right: 0;
  width: 20%;
}

.vmlist .col-xs-9 {
  width: 80%;
}

.vmlist .col-xs-3 a {
  display: block;
}

.vmlist .col-xs-3 img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

.instructions .vmlist .col-xs-9 p {
  font-size: 12px;
}
