div.neutral {
      background:url("../images/history/neutral.svg") no-repeat 1px 2px;
    }
div.inc {
      background:url("../images/history/inc.svg") no-repeat 1px 2px;
    }
div.org {
      background:url("../images/history/org.svg") no-repeat 1px 2px;
    }
div.release {
      background:url("../images/history/release.svg") no-repeat 1px 2px;
    }
div.meeting {
      background:url("../images/history/meeting.svg") no-repeat 1px 2px;
    }
div.press {
      background:url("../images/history/press.svg") no-repeat 1px 2px;
    }
div.mobile {
      background:url("../images/history/mobile.svg") no-repeat 1px 2px;
    }
div.desktop {
      background:url("../images/history/desktop.svg") no-repeat 1px 2px;
    }
div.money {
      background:url("../images/history/money.svg") no-repeat 1px 2px;
    }
div.github {
      background:url("../images/history/github.svg") no-repeat 1px 2px;
    }
div.code {
      background:url("../images/history/code.svg") no-repeat 1px 2px;
      }
div.office {
      background:url("../images/history/office.svg") no-repeat 1px 2px;
    }

    /** new-timeline box structure **/
    .new-timeline {
      list-style: none;
      padding: 20px 0 20px;
      position: relative;
    }

    .new-timeline:before {
      top: 0;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 5px;
      background-color: #d7e4ed;
      left: 50%;
      margin-left: -2.5px;
    }


    .tldate {
      display: block;
      margin: 0 auto;
      padding: 3px 0;
      font-weight: bold;
      text-align: center;
      margin-left:17px;
    }

    .new-timeline li {
      margin-bottom: 25px;
      position: relative;
      height: 100px;
    /*  clear: both;*/
    }

    .new-timeline li::before, .new-timeline li::after {
        content: " ";
        display: table;
    }

    /** new-timeline panels **/
    .new-timeline li .new-timeline-panel {
      width: 46%;
      border: 1px solid #d4d4d4;
      padding: 20px;
      background:  #fff;
      float: left;
      position: relative;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
      z-index: 10;
    }

    /** when left or right of an image, you need extra height... **/
    .tl-image-200 {
      height: 200px !important;
    }

    .tl-image-400 {
      height: 400px !important;
    }

    .tl-image-500 {
      height: 500px !important;
    }

    /** panel arrows **/
    .new-timeline li .new-timeline-panel:before {
      position: absolute;
      top: 26px;
      right: -15px;
      display: inline-block;
      border-top: 15px solid transparent;
      border-left: 15px solid #ccc;
      border-right: 0 solid #ccc;
      border-bottom: 15px solid transparent;
      content: " ";
    }

    .new-timeline li .new-timeline-panel:after {
      position: absolute;
      top: 27px;
      right: -14px;
      display: inline-block;
      border-top: 14px solid transparent;
      border-left: 14px solid #fff;
      border-right: 0 solid #fff;
      border-bottom: 14px solid transparent;
      content: " ";
    }
    .new-timeline li .new-timeline-panel.noarrow:before, .new-timeline li .new-timeline-panel.noarrow:after {
      top:0;
      right:0;
      display: none;
      border: 0;
    }

    .new-timeline li.new-timeline-inverted .new-timeline-panel {
      float: right;
    }

    .new-timeline li.new-timeline-inverted .new-timeline-panel:before {
      border-left-width: 0;
      border-right-width: 15px;
      left: -15px;
      right: auto;
    }

    .new-timeline li.new-timeline-inverted .new-timeline-panel:after {
      border-left-width: 0;
      border-right-width: 14px;
      left: -14px;
      right: auto;
    }

    /** the icon **/

    .new-timeline li .tl-circ {
        position: absolute;
        top: 22px;
        left: 50%;
        text-align: center;
        width: 45px;
        height: 45px;
        margin-left: -19px;
        z-index: 99999;
    }

    /** media queries **/
    @media (max-width: 991px) {
      .new-timeline li .new-timeline-panel {
        width: 44%;
      }
    }

    @media (max-width: 700px) {
      .new-timeline li {
      clear: both;
      }

      ul.new-timeline:before {
        left: 40px;
      }

      .tldate { width: 140px; }

      ul.new-timeline li .new-timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
      }

      ul.new-timeline li .tl-circ {
        top: 22px;
        left: 22px;
        margin-left: 0;
      }

      ul.new-timeline > li > .tldate {
        margin: 0;
      }

      ul.new-timeline > li > .new-timeline-panel {
        float: right;
      }

      ul.new-timeline > li > .new-timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
      }

      ul.new-timeline > li > .new-timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
      }
    }
