//General container

.wrap.container {

 padding-top:rem-calc(50);
 padding-bottom:rem-calc(50);

 @include media-breakpoint-up(lg) {
  padding-top:rem-calc(70);
  padding-bottom:rem-calc(70);
 }

}

// Box Elements

.box {
 padding:2.5rem 1.5rem;
 background:$gray-lightest;
 border:rem-calc(1) solid $gray-lighter;
 border-radius:rem-calc(5);
}
